@use "variables";

.formulario{

    background:variables.$white;
    padding:30px;
    border-radius:10px;


    &__campo{

        display:flex;
        flex-direction:column;
        margin-bottom:20px;


        input,
        textarea{

            padding:12px;
            border-radius:5px;
        }

    }


    button{

        background:variables.$color-primary;
        color:white;
        padding:12px;
        border:none;

    }
    // Colores
$color-primary: #2563eb;
$color-secondary: #1d4ed8;
$color-background: #f2f2f2;
$color-white: #ffffff;
$color-error: #dc2626;
$color-success: #16a34a;

// Tipografía
$font-main: Arial, sans-serif;

// Tamaños
$border-radius: 10px;
$spacing: 20px;

}