@use "variables";

.formulario{

    background:variables.$white;
    padding:30px;
    border-radius:10px;


    &__campo{

        display:flex;
        flex-direction:column;
        margin-bottom:20px;


        input,
        textarea{

            padding:12px;
            border-radius:5px;
        }

    }


    button{

        background:variables.$color-primary;
        color:white;
        padding:12px;
        border:none;

    }
    input,
    textarea {

        padding:12px;
        border:1px solid #ccc;
        border-radius:5px;


        &:valid {
        border-color: green;
        }


        &:invalid {
        border-color: red;
        }

    }

}