@use "variables";


.formulario{

    display:flex;
    flex-direction:column;
    gap:20px;


    &__input{

        padding:12px;
        border-radius:variables.$radius;

    }


    &__boton{

        background:variables.$color-primary;
        color:white;
        padding:12px;
        border:none;
        cursor:pointer;


        &:hover{

            background:variables.$color-hover;

        }

    }

}